node_modules
yarn.lock
pdf-morphing
edited_pdfs

./diamonds
.cache
# enviorment files
.env
.env.local

# OSX
.DS_Store
src/backups
.yarn
.vscode
yarn-error.log
src/public/xml
temp
# Package files
package-lock.json

# Build
/dist
bun.lockb

logs
bun.lock
